@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutForgotPassword.cshtml";
}
<div class="limiter">
<div class="container-login100">
    <div class="wrap-login100">
        <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
            <span class="login100-form-title-1" style="text-decoration: underline;">
                Reset Password
            </span>

            <h6 class="text-white mt-2">Recover Your Asset Management Account</h6>
        </div>

        <form class="login100-form validate-form">
            <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
                <span class="label-input100">Email</span>
                <input class="input100" type="text" name="email" id="emailResetPass" placeholder="Enter Your Email">
                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
                <a href="#" class="login100-form-btn" onclick="ResetPassword()">
                    submit
                </a>
            </div>
        </form>
    </div>
</div>
 </div>