@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboardAdmin.cshtml";
}
<div class="page-wrapper">
    <div class="p-3">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Asset Has Been Taken</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="#">Menu</a>
                                </li>
                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="#">Request Item</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a href="https://localhost:44389/Menu/Admin/RequestItem/ReturnAsset">Return Asset</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5">
            <p></p>
            <table id="tabledatauserrequestreturn" class="display table table-striped table-bordered" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th>No</th>
                        <th>Id</th>
                        <th>Item</th>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End date</th>
                        <th>Notes</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No</th>
                        <th>Id</th>
                        <th>Item</th>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End date</th>
                        <th>Notes</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Return Asset-->
<div class="modal fade" id="returnAsset" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalReturnAsset">Return Asset Condition</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false" name="formReturnAsset" class="needs-validation" novalidate>

                    <div class="form-group">
                        <label for="requestItemId">Request Item Id</label>
                        <input type="number" class="form-control" id="requestItemId" placeholder="Request Id" required disabled>
                        <div class="valid-feedback">
                        </div>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="penalty">penalty</label>
                        <input type="text" class="form-control" id="penalty" placeholder="penalty fee" required>
                        <div class="valid-feedback">
                        </div>
                        <div class="invalid-feedback">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="note">Notes</label>
                        <input type="text" class="form-control" id="note" placeholder="Notes" required>
                        <div class="valid-feedback">
                        </div>
                        <div class="invalid-feedback">
                        </div>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" onclick="ReturnAnAsset()" data-dismiss="modal">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Return Asset -->