@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboardManager.cshtml";
}
<div class="page-wrapper">
    @*<div class="p-3">*@
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Request Approval</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="#">Menu</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Request Item</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="https://localhost:44389/Menu/RequestItem/NeedsApproval">Needs Approval</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @*<div class="card">
            <div class="card-body">*@
        <table id="tableDataListReq" class="display table-striped table-bordered table" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th>No</th>
                    <th>Id</th>
                    <th>User Id</th>
                    <th>Name</th>
                    <th>Requested Item</th>
                    <th>Item Id</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Quantity</th>
                    <th>Notes</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th>No</th>
                    <th>Id</th>
                    <th>User Id</th>
                    <th>Name</th>
                    <th>Requested Item</th>
                    <th>Item Id</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Quantity</th>
                    <th>Notes</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
        @*</div>
            </div>*@
    </div>
    @*</div>*@
</div>

<!-- Modal Needs Approval -->
<div class="modal fade" id="needsApproval" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNeedsApproval">Approval Check</h5>
                <button type="button" class="btn-close" data-dismiss="modal" id="btnNeedsApprovalClose" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="needsApprovalForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="userId_emp">User Id</label>
                                <input type="text" id="userId_emp" class="form-control form-control-alternative" placeholder="User Id" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="name_emp">Employee's Name</label>
                                <input type="text" id="name_emp" class="form-control form-control-alternative" placeholder="Name" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="req_id">Request Id</label>
                                <input type="number" id="req_id" class="form-control form-control-alternative" placeholder="Request Id" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="item_name">Requested Item</label>
                                <input type="text" id="item_name" class="form-control form-control-alternative" placeholder="Item Name" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group focused">
                                <label class="form-control-label" for="req_date">Start - End Date</label>
                                <input type="text" id="req_date" class="form-control form-control-alternative" placeholder="Date Borrowed" readonly>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group focused">
                                <label class="form-control-label" for="req_quantity">Quantity</label>
                                <input type="number" id="req_quantity" class="form-control form-control-alternative" placeholder="Quantity" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group focused">
                        <label>Notes</label>
                        <textarea rows="4" class="form-control form-control-alternative" id="req_notes" placeholder="Type in your purpose for borrowing this item... " readonly></textarea>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <button class="btn btn-success rounded-circle" data-dismiss="modal" id="btnApproveReq" title="Approve"><i class='far fa-check-circle' style="color:white;"></i></button>
                            <span> </span>
                            <button class="btn btn-danger rounded-circle" data-dismiss="modal" id="btnRejectReq" title="Reject"><i class='far fa-times-circle' style="color:white;"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>